.root {
  appearance: none;
  border: none;
  background: #13b95a;
  color: white;
  padding: 18px 36px;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}

.root:hover {
  background: #4ccf90;
}

.root:active {
  transform: translateY(1px);
}
